.carousel-item {
  height: 50vh;
}
.card {
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.footer-cta {
box-shadow: rgba(153, 28, 28, 0.15) 0px 5px 15px;
}
.price {
color: #382626;
font-size: 24px;
}

.card-title {
color:#e61717
}

.sale {
color: #E53935
}

.sale-badge {
background-color: #E53935
}